n8n/01-availability-check.json
{
  "name": "Velor Booking - 01 Availability Check",
  "nodes": [
    {
      "id": "webhook-availability",
      "name": "Webhook: /availability",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        0
      ],
      "webhookId": "velor-availability",
      "parameters": {
        "path": "availability",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "code-verify-parse",
      "name": "Verify Signature & Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "function sha256(bytes) {\n  function rrot(x, n) { return (x >>> n) | (x << (32 - n)); }\n  const K = [0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let H = [0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n  const b = bytes.slice();\n  const bitLen = b.length * 8;\n  b.push(0x80);\n  while (b.length % 64 !== 56) b.push(0);\n  for (let i = 7; i >= 0; i--) b.push((bitLen / Math.pow(2, i * 8)) & 0xff);\n  for (let chunk = 0; chunk < b.length; chunk += 64) {\n    const w = new Array(64).fill(0);\n    for (let i = 0; i < 16; i++) w[i] = ((b[chunk+i*4]<<24)|(b[chunk+i*4+1]<<16)|(b[chunk+i*4+2]<<8)|(b[chunk+i*4+3]))>>>0;\n    for (let i = 16; i < 64; i++) {\n      const s0 = rrot(w[i-15],7) ^ rrot(w[i-15],18) ^ (w[i-15] >>> 3);\n      const s1 = rrot(w[i-2],17) ^ rrot(w[i-2],19) ^ (w[i-2] >>> 10);\n      w[i] = (w[i-16] + s0 + w[i-7] + s1) >>> 0;\n    }\n    let [a,c2,c3,d,e,f,g,h] = H;\n    for (let i = 0; i < 64; i++) {\n      const S1 = rrot(e,6) ^ rrot(e,11) ^ rrot(e,25);\n      const ch = (e & f) ^ (~e & g);\n      const t1 = (h + S1 + ch + K[i] + w[i]) >>> 0;\n      const S0 = rrot(a,2) ^ rrot(a,13) ^ rrot(a,22);\n      const maj = (a & c2) ^ (a & c3) ^ (c2 & c3);\n      const t2 = (S0 + maj) >>> 0;\n      h=g; g=f; f=e; e=(d+t1)>>>0; d=c3; c3=c2; c2=a; a=(t1+t2)>>>0;\n    }\n    H = [(H[0]+a)>>>0,(H[1]+c2)>>>0,(H[2]+c3)>>>0,(H[3]+d)>>>0,(H[4]+e)>>>0,(H[5]+f)>>>0,(H[6]+g)>>>0,(H[7]+h)>>>0];\n  }\n  const out = [];\n  for (const n of H) out.push((n>>>24)&0xff,(n>>>16)&0xff,(n>>>8)&0xff,n&0xff);\n  return out;\n}\nfunction toBytes(str) { return Array.from(Buffer.from(str, 'utf8')); }\nfunction hmacSha256Hex(key, message) {\n  const blockSize = 64;\n  let keyBytes = toBytes(key);\n  if (keyBytes.length > blockSize) keyBytes = sha256(keyBytes);\n  if (keyBytes.length < blockSize) keyBytes = keyBytes.concat(new Array(blockSize - keyBytes.length).fill(0));\n  const opad = keyBytes.map(byte => byte ^ 0x5c);\n  const ipad = keyBytes.map(byte => byte ^ 0x36);\n  const inner = sha256(ipad.concat(toBytes(message)));\n  const outer = sha256(opad.concat(inner));\n  return outer.map(b => b.toString(16).padStart(2, '0')).join('');\n}\nfunction timingSafeEqual(a, b) {\n  if (a.length !== b.length) return false;\n  let diff = 0;\n  for (let i = 0; i < a.length; i++) diff |= a.charCodeAt(i) ^ b.charCodeAt(i);\n  return diff === 0;\n}\n\nconst secret = '179c426bfdb5ec176d55e1f4893655598fc90bcb45d75fd839370eb8cf5bb88a';\nconst signatureHeader = $('Webhook: /availability').first().json.headers['x-velor-signature'];\nconst body = JSON.stringify($input.first().json.body ?? $input.first().json);\n\nlet signatureValid = false;\nif (secret && signatureHeader) {\n  const expected = hmacSha256Hex(secret, body);\n  signatureValid = timingSafeEqual(expected, signatureHeader);\n}\n\nconst input = $input.first().json.body ?? $input.first().json;\n\nreturn [{\n  json: {\n    signatureValid,\n    appointmentType: input.appointmentType,\n    date: input.date,\n    timezone: input.timezone,\n    candidateSlots: input.candidateSlots || [],\n    bufferMinutes: input.appointmentType === 'standard' ? Number(15 || 15) : 0\n  }\n}];"
      }
    },
    {
      "id": "if-signature-valid",
      "name": "Signature Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.signatureValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "respond-unauthorized",
      "name": "Respond: Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -80,
        160
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={{ { success: false, code: 'UNAUTHORIZED', message: 'Invalid signature' } }}"
      }
    },
    {
      "id": "calendar-get-busy",
      "name": "Google Calendar: Get Events In Range",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -140
      ],
      "notes": "Raw Calendar API call — n8n's native Calendar getAll node was found to intermittently ignore timeMin/timeMax filtering in this instance, so conflict checks go direct to the API instead.",
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/calendar/v3/calendars/59d6b4475934c58001cc49d68297b86223195aa54cc1677d984081e02116ea19%40group.calendar.google.com/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeMin",
              "value": "={{ $json.candidateSlots.length ? $json.candidateSlots[0].start : $now.toISO() }}"
            },
            {
              "name": "timeMax",
              "value": "={{ $json.candidateSlots.length ? $json.candidateSlots[$json.candidateSlots.length - 1].end : $now.plus({hours:1}).toISO() }}"
            },
            {
              "name": "singleEvents",
              "value": "true"
            }
          ]
        }
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UwJXKVA6G1Sg27vb",
          "name": "Velor - Google Calendar"
        }
      }
    },
    {
      "id": "code-filter-slots",
      "name": "Filter Conflicting Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        -140
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const parsed = $('Verify Signature & Parse Input').first().json;\nconst busyEvents = ($input.first().json.items || []).filter(e => e.start && e.end);\nconst bufferMs = (parsed.bufferMinutes || 0) * 60000;\n\nfunction conflicts(slotStart, slotEnd) {\n  const s = new Date(slotStart).getTime();\n  const eEnd = new Date(slotEnd).getTime() + bufferMs;\n  return busyEvents.some(ev => {\n    const evStart = new Date(ev.start.dateTime || ev.start.date).getTime();\n    const evEnd = new Date(ev.end.dateTime || ev.end.date).getTime();\n    return s < evEnd && eEnd > evStart;\n  });\n}\n\nconst freeSlots = (parsed.candidateSlots || []).filter(slot => !conflicts(slot.start, slot.end));\n\nreturn [{ json: { success: true, date: parsed.date, timezone: parsed.timezone, slots: freeSlots } }];\n"
      }
    },
    {
      "id": "respond-success",
      "name": "Respond: Availability",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        360,
        -140
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook: /availability": {
      "main": [
        [
          {
            "node": "Verify Signature & Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature & Parse Input": {
      "main": [
        [
          {
            "node": "Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signature Valid?": {
      "main": [
        [
          {
            "node": "Google Calendar: Get Events In Range",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar: Get Events In Range": {
      "main": [
        [
          {
            "node": "Filter Conflicting Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Conflicting Slots": {
      "main": [
        [
          {
            "node": "Respond: Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
