n8n/02-standard-booking.json
{
  "name": "Velor Booking - 02 Standard Strategy Call",
  "nodes": [
    {
      "id": "webhook-strategy-call",
      "name": "Webhook: /strategy-call",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1600,
        0
      ],
      "webhookId": "velor-strategy-call",
      "parameters": {
        "path": "strategy-call",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "code-verify-parse",
      "name": "Verify Signature & Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "function sha256(bytes) {\n  function rrot(x, n) { return (x >>> n) | (x << (32 - n)); }\n  const K = [0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let H = [0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n  const b = bytes.slice();\n  const bitLen = b.length * 8;\n  b.push(0x80);\n  while (b.length % 64 !== 56) b.push(0);\n  for (let i = 7; i >= 0; i--) b.push((bitLen / Math.pow(2, i * 8)) & 0xff);\n  for (let chunk = 0; chunk < b.length; chunk += 64) {\n    const w = new Array(64).fill(0);\n    for (let i = 0; i < 16; i++) w[i] = ((b[chunk+i*4]<<24)|(b[chunk+i*4+1]<<16)|(b[chunk+i*4+2]<<8)|(b[chunk+i*4+3]))>>>0;\n    for (let i = 16; i < 64; i++) {\n      const s0 = rrot(w[i-15],7) ^ rrot(w[i-15],18) ^ (w[i-15] >>> 3);\n      const s1 = rrot(w[i-2],17) ^ rrot(w[i-2],19) ^ (w[i-2] >>> 10);\n      w[i] = (w[i-16] + s0 + w[i-7] + s1) >>> 0;\n    }\n    let [a,c2,c3,d,e,f,g,h] = H;\n    for (let i = 0; i < 64; i++) {\n      const S1 = rrot(e,6) ^ rrot(e,11) ^ rrot(e,25);\n      const ch = (e & f) ^ (~e & g);\n      const t1 = (h + S1 + ch + K[i] + w[i]) >>> 0;\n      const S0 = rrot(a,2) ^ rrot(a,13) ^ rrot(a,22);\n      const maj = (a & c2) ^ (a & c3) ^ (c2 & c3);\n      const t2 = (S0 + maj) >>> 0;\n      h=g; g=f; f=e; e=(d+t1)>>>0; d=c3; c3=c2; c2=a; a=(t1+t2)>>>0;\n    }\n    H = [(H[0]+a)>>>0,(H[1]+c2)>>>0,(H[2]+c3)>>>0,(H[3]+d)>>>0,(H[4]+e)>>>0,(H[5]+f)>>>0,(H[6]+g)>>>0,(H[7]+h)>>>0];\n  }\n  const out = [];\n  for (const n of H) out.push((n>>>24)&0xff,(n>>>16)&0xff,(n>>>8)&0xff,n&0xff);\n  return out;\n}\nfunction toBytes(str) { return Array.from(Buffer.from(str, 'utf8')); }\nfunction hmacSha256Hex(key, message) {\n  const blockSize = 64;\n  let keyBytes = toBytes(key);\n  if (keyBytes.length > blockSize) keyBytes = sha256(keyBytes);\n  if (keyBytes.length < blockSize) keyBytes = keyBytes.concat(new Array(blockSize - keyBytes.length).fill(0));\n  const opad = keyBytes.map(byte => byte ^ 0x5c);\n  const ipad = keyBytes.map(byte => byte ^ 0x36);\n  const inner = sha256(ipad.concat(toBytes(message)));\n  const outer = sha256(opad.concat(inner));\n  return outer.map(b => b.toString(16).padStart(2, '0')).join('');\n}\nfunction timingSafeEqual(a, b) {\n  if (a.length !== b.length) return false;\n  let diff = 0;\n  for (let i = 0; i < a.length; i++) diff |= a.charCodeAt(i) ^ b.charCodeAt(i);\n  return diff === 0;\n}\n\nconst secret = '179c426bfdb5ec176d55e1f4893655598fc90bcb45d75fd839370eb8cf5bb88a';\nconst signatureHeader = $('Webhook: /strategy-call').first().json.headers['x-velor-signature'];\nconst body = JSON.stringify($input.first().json.body ?? $input.first().json);\n\nlet signatureValid = false;\nif (secret && signatureHeader) {\n  const expected = hmacSha256Hex(secret, body);\n  signatureValid = timingSafeEqual(expected, signatureHeader);\n}\n\nconst b = $input.first().json.body ?? $input.first().json;\nconst durationMin = Number(60 || 60);\nconst bufferMin = Number(15 || 15);\nconst timezone = 'America/Toronto' || 'America/Toronto';\n\nreturn [{ json: { ...b, signatureValid, durationMin, bufferMin, timezone, slotKey: `${timezone}|${b.meetingDate}|${b.meetingTime}` } }];"
      }
    },
    {
      "id": "if-signature-valid",
      "name": "Signature Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1120,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.signatureValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "respond-unauthorized",
      "name": "Respond: Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -880,
        260
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={{ { success: false, code: 'UNAUTHORIZED' } }}"
      }
    },
    {
      "id": "http-get-bookings-data",
      "name": "HTTP: Get Bookings Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        -140
      ],
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1UkvzpXxs0aYLs3Znxp5mVuV3jEJBM5iEo-jOQAEPHEY/values/Bookings!A2:BA100000",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "05GiWdmZswSbZZzW",
          "name": "Velor - Google Sheets"
        }
      }
    },
    {
      "id": "code-check-existing-submission",
      "name": "Check Existing Submission",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -140
      ],
      "notes": "Column AY (index 50) holds Submission ID (internal) — the idempotency key.",
      "parameters": {
        "language": "javaScript",
        "jsCode": "const parsed = $('Verify Signature & Parse Input').first().json;\nconst rows = $input.first().json.values || [];\nconst match = rows.find(r => r[50] === parsed.submissionId);\nreturn [{ json: { ...parsed, existingBookingId: match ? match[0] : null, existingStatus: match ? match[3] : null, existingCalendarLink: match ? match[26] : null, existingMeetLink: match ? match[27] : null } }];\n"
      }
    },
    {
      "id": "if-already-processed",
      "name": "Already Processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -560,
        -140
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.existingBookingId || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "respond-idempotent-hit",
      "name": "Respond: Existing Booking",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -400,
        -260
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, bookingId: $json.existingBookingId, status: $json.existingStatus, calendarEventLink: $json.existingCalendarLink, googleMeetLink: $json.existingMeetLink } }}"
      }
    },
    {
      "id": "http-append-lock",
      "name": "HTTP: Append Lock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        -20
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1UkvzpXxs0aYLs3Znxp5mVuV3jEJBM5iEo-jOQAEPHEY/values/Locks!A1:C1:append",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { values: [ [ $json.slotKey, $json.submissionId, $now.toISO() ] ] } }}"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "05GiWdmZswSbZZzW",
          "name": "Velor - Google Sheets"
        }
      }
    },
    {
      "id": "http-get-locks-data",
      "name": "HTTP: Get Locks Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -20
      ],
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1UkvzpXxs0aYLs3Znxp5mVuV3jEJBM5iEo-jOQAEPHEY/values/Locks!A2:C100000",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "05GiWdmZswSbZZzW",
          "name": "Velor - Google Sheets"
        }
      }
    },
    {
      "id": "code-lock-owner-check",
      "name": "Do We Own The Lock?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -20
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const parsed = $('Check Existing Submission').first().json;\nconst rows = $input.first().json.values || [];\nconst withIndex = rows.map((r, i) => ({ slotKey: r[0], submissionId: r[1], lockedAt: r[2], rowNumber: i + 2 }));\nconst matching = withIndex.filter(r => r.slotKey === parsed.slotKey);\nmatching.sort((a, b) => new Date(a.lockedAt) - new Date(b.lockedAt));\nconst ours = withIndex.find(r => r.submissionId === parsed.submissionId);\nconst weOwnIt = matching.length > 0 && matching[0].submissionId === parsed.submissionId;\nreturn [{ json: { ...parsed, weOwnIt, rowNumber: ours ? ours.rowNumber : null } }];\n"
      }
    },
    {
      "id": "if-own-lock",
      "name": "Own Lock?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        320,
        -20
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.weOwnIt }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "respond-slot-taken-lock",
      "name": "Respond: Slot No Longer Available (lock)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        220
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": 409,
        "responseBody": "={{ { success: false, code: 'SLOT_NO_LONGER_AVAILABLE', message: 'That time was just booked. Please choose another available time.' } }}"
      }
    },
    {
      "id": "code-compute-window",
      "name": "Compute Meeting Window",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        -140
      ],
      "notes": "Turns meetingDate + meetingTime (e.g. '2:00 PM') + timezone into ISO instants for the Calendar nodes, using the IANA offset at that date (DST-safe) rather than the server's local time zone.",
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $input.first().json;\n\nfunction timeZoneOffsetMinutes(instant, timeZone) {\n  const dtf = new Intl.DateTimeFormat('en-US', { timeZone, hourCycle: 'h23', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' });\n  const parts = dtf.formatToParts(instant).reduce((acc, p) => { acc[p.type] = p.value; return acc; }, {});\n  const asUtc = Date.UTC(+parts.year, +parts.month - 1, +parts.day, +parts.hour, +parts.minute, +parts.second);\n  return (asUtc - instant.getTime()) / 60000;\n}\n\nfunction zonedTimeToUtc(isoDate, hour, minute, timeZone) {\n  const guess = new Date(`${isoDate}T${String(hour).padStart(2,'0')}:${String(minute).padStart(2,'0')}:00Z`);\n  const offset = timeZoneOffsetMinutes(guess, timeZone);\n  return new Date(guess.getTime() - offset * 60000);\n}\n\nconst [_, hh, mm, ampm] = j.meetingTime.match(/(\\d+):(\\d+)\\s*(AM|PM)/i);\nlet hour = parseInt(hh, 10) % 12;\nif (/PM/i.test(ampm)) hour += 12;\n\nconst start = zonedTimeToUtc(j.meetingDate, hour, parseInt(mm, 10), j.timezone);\nconst end = new Date(start.getTime() + j.durationMin * 60000);\nconst endWithBuffer = new Date(start.getTime() + (j.durationMin + j.bufferMin) * 60000);\n\nconst endLabel = new Intl.DateTimeFormat('en-US', { timeZone: j.timezone, hour: 'numeric', minute: '2-digit', hour12: true }).format(end);\n\nreturn [{ json: { ...j, meetingStartIso: start.toISOString(), meetingEndIso: end.toISOString(), meetingEndWithBufferIso: endWithBuffer.toISOString(), meetingEndLabel: endLabel } }];\n"
      }
    },
    {
      "id": "calendar-final-check",
      "name": "Google Calendar: Final Recheck",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -140
      ],
      "notes": "Raw Calendar API call — n8n's native Calendar getAll node was found to intermittently ignore timeMin/timeMax filtering in this instance, so conflict checks go direct to the API instead.",
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/calendar/v3/calendars/59d6b4475934c58001cc49d68297b86223195aa54cc1677d984081e02116ea19%40group.calendar.google.com/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeMin",
              "value": "={{ $json.meetingStartIso }}"
            },
            {
              "name": "timeMax",
              "value": "={{ $json.meetingEndWithBufferIso }}"
            },
            {
              "name": "singleEvents",
              "value": "true"
            }
          ]
        }
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UwJXKVA6G1Sg27vb",
          "name": "Velor - Google Calendar"
        }
      }
    },
    {
      "id": "code-conflict-check",
      "name": "Conflict Detected?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -140
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const parsed = $('Compute Meeting Window').first().json;\nconst events = ($input.first().json.items || []).filter(e => e.start && e.end);\nconst conflict = events.length > 0;\nreturn [{ json: { ...parsed, conflictDetected: conflict } }];\n"
      }
    },
    {
      "id": "if-conflict",
      "name": "Has Conflict?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        -140
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.conflictDetected }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "http-delete-lock-conflict",
      "name": "HTTP: Release Lock (conflict)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1UkvzpXxs0aYLs3Znxp5mVuV3jEJBM5iEo-jOQAEPHEY:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { requests: [ { deleteDimension: { range: { sheetId: 1371187945, dimension: 'ROWS', startIndex: $json.rowNumber - 1, endIndex: $json.rowNumber } } } ] } }}"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "05GiWdmZswSbZZzW",
          "name": "Velor - Google Sheets"
        }
      }
    },
    {
      "id": "respond-slot-taken-conflict",
      "name": "Respond: Slot No Longer Available (calendar)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1520,
        100
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": 409,
        "responseBody": "={{ { success: false, code: 'SLOT_NO_LONGER_AVAILABLE', message: 'That time was just booked. Please choose another available time.' } }}"
      }
    },
    {
      "id": "calendar-create-event",
      "name": "Google Calendar: Create Event + Meet",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1280,
        -260
      ],
      "parameters": {
        "operation": "create",
        "calendar": {
          "mode": "id",
          "value": "59d6b4475934c58001cc49d68297b86223195aa54cc1677d984081e02116ea19@group.calendar.google.com"
        },
        "start": "={{ $json.meetingStartIso }}",
        "end": "={{ $json.meetingEndIso }}",
        "additionalFields": {
          "summary": "=Velor Strategy Call — {{ $json.businessName }} — {{ $json.fullName }}",
          "description": "=Booking ID: {{ $json.bookingId }}\nAppointment type: Standard Strategy Call\nStatus: Pending\nClient name: {{ $json.fullName }}\nBusiness name: {{ $json.businessName }}\nEmail: {{ $json.email }}\nPhone: {{ $json.phone }}\nService interested in: {{ $json.serviceInterest }}\nBudget range: {{ $json.budgetRange }}\nBusiness website: {{ $json.businessWebsite }}\nLead source: {{ $json.leadSource }}\nPreferred contact method: {{ $json.preferredContactMethod }}\nProject details:\n{{ $json.projectDetails }}\nAgreement accepted: {{ $json.agreementAccepted }} ({{ $json.agreementVersion }})\nSubmitted at: {{ $json.submittedAt }}",
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          }
        }
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UwJXKVA6G1Sg27vb",
          "name": "Velor - Google Calendar"
        }
      }
    },
    {
      "id": "code-build-booking-row",
      "name": "Build Booking Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        -260
      ],
      "notes": "Column order must exactly match the Bookings sheet header row (A-BA).",
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $('Has Conflict?').first().json;\nconst ev = $('Google Calendar: Create Event + Meet').first().json;\nconst row = [\n  j.bookingId, j.submittedAt, \"Standard Strategy Call\", \"Pending\",\n  j.meetingDate, j.meetingTime, j.meetingEndLabel, j.timezone,\n  j.fullName, j.email, j.phone, \"\",\n  j.businessName, j.businessWebsite || \"\", j.serviceInterest, j.budgetRange,\n  j.projectDetails, j.leadSource, j.leadSourceOther || \"\", j.preferredContactMethod || \"\",\n  (j.additionalParticipants || []).join(\", \"), j.agreementAccepted, j.agreementVersion, j.agreementTimestamp,\n  \"No\", \"Yes\", ev.htmlLink || \"\", ev.hangoutLink || \"\",\n  ev.id || \"\", \"No\", \"No\", \"No\",\n  \"\", \"\", \"\", \"\",\n  new Date().toISOString(), \"automation\", \"website\",\n  j.utmSource || \"\", j.utmMedium || \"\", j.utmCampaign || \"\", j.utmContent || \"\", j.utmTerm || \"\",\n  j.pageUrl || \"\", j.referrer || \"\", j.ipAddress || \"\", j.userAgent || \"\",\n  \"1.0.0\", \"\", j.submissionId, \"\", 0\n];\nreturn [{ json: { row, bookingId: j.bookingId, rowNumber: j.rowNumber, calendarEventLink: ev.htmlLink, googleMeetLink: ev.hangoutLink } }];\n"
      }
    },
    {
      "id": "http-append-booking-row",
      "name": "HTTP: Append Booking Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        -260
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1UkvzpXxs0aYLs3Znxp5mVuV3jEJBM5iEo-jOQAEPHEY/values/Bookings!A1:BA1:append",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { values: [ $json.row ] } }}"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "05GiWdmZswSbZZzW",
          "name": "Velor - Google Sheets"
        }
      }
    },
    {
      "id": "http-delete-lock-success",
      "name": "HTTP: Release Lock (success)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        -260
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1UkvzpXxs0aYLs3Znxp5mVuV3jEJBM5iEo-jOQAEPHEY:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { requests: [ { deleteDimension: { range: { sheetId: 1371187945, dimension: 'ROWS', startIndex: $('Build Booking Row').item.json.rowNumber - 1, endIndex: $('Build Booking Row').item.json.rowNumber } } } ] } }}"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "05GiWdmZswSbZZzW",
          "name": "Velor - Google Sheets"
        }
      }
    },
    {
      "id": "telegram-notify-team",
      "name": "Telegram: Notify Team",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        -400
      ],
      "notes": "Attach the Telegram Bot credential in n8n. Chat ID comes from TELEGRAM_CHAT_ID env var.",
      "parameters": {
        "chatId": "5038813723",
        "text": "=📅 NEW VELOR STRATEGY CALL\nBooking ID: {{ $('Conflict Detected?').item.json.bookingId }}\nStatus: 🟠 Pending\nClient: {{ $('Conflict Detected?').item.json.fullName }}\nBusiness: {{ $('Conflict Detected?').item.json.businessName }}\nEmail: {{ $('Conflict Detected?').item.json.email }}\nPhone: {{ $('Conflict Detected?').item.json.phone }}\nService: {{ $('Conflict Detected?').item.json.serviceInterest }}\nBudget: {{ $('Conflict Detected?').item.json.budgetRange }}\nLead Source: {{ $('Conflict Detected?').item.json.leadSource }}\nDate: {{ $('Conflict Detected?').item.json.meetingDate }}\nTime: {{ $('Conflict Detected?').item.json.meetingTime }} ET\nMeeting: Google Meet\nProject:\n{{ $('Conflict Detected?').item.json.projectDetails }}\nCalendar: {{ $('Google Calendar: Create Event + Meet').item.json.htmlLink }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "zztcwsaom20LpOV7",
          "name": "Velor - Telegram"
        }
      },
      "webhookId": "e89958f4-5cbb-4488-8ff7-75086518b14b"
    },
    {
      "id": "http-team-email",
      "name": "Resend: Team Notification Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2000,
        -260
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "ishaatlabib.1@gmail.com",
        "subject": "=New Velor Strategy Call — {{ $('Conflict Detected?').item.json.businessName }} — {{ $('Conflict Detected?').item.json.meetingDate }} {{ $('Conflict Detected?').item.json.meetingTime }}",
        "emailType": "html",
        "message": "=<p>Booking ID: {{ $('Conflict Detected?').item.json.bookingId }}</p><p>Name: {{ $('Conflict Detected?').item.json.fullName }}</p><p>Business: {{ $('Conflict Detected?').item.json.businessName }}</p><p>Email: {{ $('Conflict Detected?').item.json.email }}</p><p>Phone: {{ $('Conflict Detected?').item.json.phone }}</p><p>Service: {{ $('Conflict Detected?').item.json.serviceInterest }}</p><p>Budget: {{ $('Conflict Detected?').item.json.budgetRange }}</p><p>Project details: {{ $('Conflict Detected?').item.json.projectDetails }}</p><p>Date/Time: {{ $('Conflict Detected?').item.json.meetingDate }} {{ $('Conflict Detected?').item.json.meetingTime }} ET</p><p>Calendar: {{ $('Google Calendar: Create Event + Meet').item.json.htmlLink }}</p><p>Google Meet: {{ $('Google Calendar: Create Event + Meet').item.json.hangoutLink }}</p>",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "GRKLVdCC2a16MphQ",
          "name": "Velor Gmail Account"
        }
      },
      "webhookId": "ecc42aa9-8378-4ade-93a1-4a78cc0cbf39"
    },
    {
      "id": "http-client-email",
      "name": "Resend: Client Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2000,
        -120
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Conflict Detected?').item.json.email }}",
        "subject": "=Your Velor Strategy Call — {{ $('Conflict Detected?').item.json.meetingDate }} at {{ $('Conflict Detected?').item.json.meetingTime }} ET",
        "emailType": "html",
        "message": "=<p>Hi {{ $('Conflict Detected?').item.json.fullName.split(' ')[0] }},</p><p>Your strategy call with Velor has been received and scheduled.</p><p><b>Meeting details</b><br/>Date: {{ $('Conflict Detected?').item.json.meetingDate }}<br/>Time: {{ $('Conflict Detected?').item.json.meetingTime }} ET<br/>Format: Online video meeting<br/>Google Meet: {{ $('Google Calendar: Create Event + Meet').item.json.hangoutLink }}<br/>Booking ID: {{ $('Conflict Detected?').item.json.bookingId }}</p><p>We will review the information you submitted before the meeting so we can come prepared to discuss the right system for your business.</p><p>You are interested in: {{ $('Conflict Detected?').item.json.serviceInterest }}</p><p>What you told us:<br/>{{ $('Conflict Detected?').item.json.projectDetails }}</p><p>Need to make a change? Reply to this email and include your booking ID.</p><p>Velor Digital — We build businesses that run smoother.<br/>velordigital.com</p>",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "GRKLVdCC2a16MphQ",
          "name": "Velor Gmail Account"
        }
      },
      "webhookId": "2f11f4b8-ff3f-4db2-af6b-30dbd3b8b135"
    },
    {
      "id": "http-log-completed",
      "name": "HTTP: Log Automation Steps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        -260
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1UkvzpXxs0aYLs3Znxp5mVuV3jEJBM5iEo-jOQAEPHEY/values/Automation Log!A1:I1:append",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { values: [ [ $now.toISO(), $('Build Booking Row').item.json.bookingId, $execution.id, 'WORKFLOW_COMPLETED', 'success', 1, '', $('Verify Signature & Parse Input').item.json.submissionId, '1.0.0' ] ] } }}"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "05GiWdmZswSbZZzW",
          "name": "Velor - Google Sheets"
        }
      }
    },
    {
      "id": "respond-success",
      "name": "Respond: Booking Confirmed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2480,
        -260
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, bookingId: $('Build Booking Row').item.json.bookingId, status: 'Pending', calendarEventLink: $('Build Booking Row').item.json.calendarEventLink, googleMeetLink: $('Build Booking Row').item.json.googleMeetLink, conflictDetected: false } }}"
      }
    },
    {
      "id": "http-add-attendees",
      "name": "HTTP: Add Attendees",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        -260
      ],
      "notes": "Attendees are patched in separately via the raw Calendar API — the native node's attendees field shape is unreliable across versions.",
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/59d6b4475934c58001cc49d68297b86223195aa54cc1677d984081e02116ea19@group.calendar.google.com/events/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sendUpdates",
              "value": "all"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { attendees: [ { email: $('Has Conflict?').item.json.email }, ...(($('Has Conflict?').item.json.additionalParticipants) || []).map(e => ({ email: e })), { email: 'ishaatlabib.1@gmail.com' } ] } }}"
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UwJXKVA6G1Sg27vb",
          "name": "Velor - Google Calendar"
        }
      }
    },
    {
      "id": "code-extract-booking-row-number",
      "name": "Extract Booking Row Number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        -260
      ],
      "notes": "Parses the Sheets append response (e.g. \"Bookings!A3:BA3\") to get the real row number, so the notification-sent flags can be marked Yes immediately after a successful send instead of waiting for the retry workflow.",
      "parameters": {
        "language": "javaScript",
        "jsCode": "const range = $input.first().json.updates?.updatedRange || '';\nconst match = range.match(/![A-Z]+(\\d+):/);\nconst bookingRowNumber = match ? Number(match[1]) : null;\nreturn [{ json: { bookingRowNumber } }];\n"
      }
    },
    {
      "id": "http-mark-notifications-sent",
      "name": "HTTP: Mark Notifications Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        -120
      ],
      "notes": "Marks AD/AE/AF Yes right after the client email send succeeds, so the retry workflow does not needlessly resend on its next pass.",
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1UkvzpXxs0aYLs3Znxp5mVuV3jEJBM5iEo-jOQAEPHEY/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { valueInputOption: 'RAW', data: [ { range: 'Bookings!AD' + $('Extract Booking Row Number').item.json.bookingRowNumber + ':AD' + $('Extract Booking Row Number').item.json.bookingRowNumber, values: [['Yes']] }, { range: 'Bookings!AE' + $('Extract Booking Row Number').item.json.bookingRowNumber + ':AE' + $('Extract Booking Row Number').item.json.bookingRowNumber, values: [['Yes']] }, { range: 'Bookings!AF' + $('Extract Booking Row Number').item.json.bookingRowNumber + ':AF' + $('Extract Booking Row Number').item.json.bookingRowNumber, values: [['Yes']] } ] } }}"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "05GiWdmZswSbZZzW",
          "name": "Velor - Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Webhook: /strategy-call": {
      "main": [
        [
          {
            "node": "Verify Signature & Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature & Parse Input": {
      "main": [
        [
          {
            "node": "Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signature Valid?": {
      "main": [
        [
          {
            "node": "HTTP: Get Bookings Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Bookings Data": {
      "main": [
        [
          {
            "node": "Check Existing Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Submission": {
      "main": [
        [
          {
            "node": "Already Processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Processed?": {
      "main": [
        [
          {
            "node": "Respond: Existing Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Append Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Append Lock": {
      "main": [
        [
          {
            "node": "HTTP: Get Locks Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Locks Data": {
      "main": [
        [
          {
            "node": "Do We Own The Lock?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do We Own The Lock?": {
      "main": [
        [
          {
            "node": "Own Lock?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Own Lock?": {
      "main": [
        [
          {
            "node": "Compute Meeting Window",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Slot No Longer Available (lock)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Meeting Window": {
      "main": [
        [
          {
            "node": "Google Calendar: Final Recheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar: Final Recheck": {
      "main": [
        [
          {
            "node": "Conflict Detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conflict Detected?": {
      "main": [
        [
          {
            "node": "Has Conflict?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Conflict?": {
      "main": [
        [
          {
            "node": "HTTP: Release Lock (conflict)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar: Create Event + Meet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Release Lock (conflict)": {
      "main": [
        [
          {
            "node": "Respond: Slot No Longer Available (calendar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar: Create Event + Meet": {
      "main": [
        [
          {
            "node": "HTTP: Add Attendees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Booking Row": {
      "main": [
        [
          {
            "node": "HTTP: Append Booking Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Append Booking Row": {
      "main": [
        [
          {
            "node": "Extract Booking Row Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Release Lock (success)": {
      "main": [
        [
          {
            "node": "Telegram: Notify Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resend: Team Notification Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resend: Client Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resend: Client Confirmation Email": {
      "main": [
        [
          {
            "node": "HTTP: Mark Notifications Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Log Automation Steps": {
      "main": [
        [
          {
            "node": "Respond: Booking Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Add Attendees": {
      "main": [
        [
          {
            "node": "Build Booking Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Booking Row Number": {
      "main": [
        [
          {
            "node": "HTTP: Release Lock (success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Mark Notifications Sent": {
      "main": [
        [
          {
            "node": "HTTP: Log Automation Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
