n8n/03-emergency-request.json
{
  "name": "Velor Booking - 03 Emergency Request",
  "nodes": [
    {
      "id": "webhook-emergency",
      "name": "Webhook: /emergency",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        0
      ],
      "webhookId": "velor-emergency",
      "parameters": {
        "path": "emergency",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "code-verify-parse",
      "name": "Verify Signature & Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "function sha256(bytes) {\n  function rrot(x, n) { return (x >>> n) | (x << (32 - n)); }\n  const K = [0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let H = [0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n  const b = bytes.slice();\n  const bitLen = b.length * 8;\n  b.push(0x80);\n  while (b.length % 64 !== 56) b.push(0);\n  for (let i = 7; i >= 0; i--) b.push((bitLen / Math.pow(2, i * 8)) & 0xff);\n  for (let chunk = 0; chunk < b.length; chunk += 64) {\n    const w = new Array(64).fill(0);\n    for (let i = 0; i < 16; i++) w[i] = ((b[chunk+i*4]<<24)|(b[chunk+i*4+1]<<16)|(b[chunk+i*4+2]<<8)|(b[chunk+i*4+3]))>>>0;\n    for (let i = 16; i < 64; i++) {\n      const s0 = rrot(w[i-15],7) ^ rrot(w[i-15],18) ^ (w[i-15] >>> 3);\n      const s1 = rrot(w[i-2],17) ^ rrot(w[i-2],19) ^ (w[i-2] >>> 10);\n      w[i] = (w[i-16] + s0 + w[i-7] + s1) >>> 0;\n    }\n    let [a,c2,c3,d,e,f,g,h] = H;\n    for (let i = 0; i < 64; i++) {\n      const S1 = rrot(e,6) ^ rrot(e,11) ^ rrot(e,25);\n      const ch = (e & f) ^ (~e & g);\n      const t1 = (h + S1 + ch + K[i] + w[i]) >>> 0;\n      const S0 = rrot(a,2) ^ rrot(a,13) ^ rrot(a,22);\n      const maj = (a & c2) ^ (a & c3) ^ (c2 & c3);\n      const t2 = (S0 + maj) >>> 0;\n      h=g; g=f; f=e; e=(d+t1)>>>0; d=c3; c3=c2; c2=a; a=(t1+t2)>>>0;\n    }\n    H = [(H[0]+a)>>>0,(H[1]+c2)>>>0,(H[2]+c3)>>>0,(H[3]+d)>>>0,(H[4]+e)>>>0,(H[5]+f)>>>0,(H[6]+g)>>>0,(H[7]+h)>>>0];\n  }\n  const out = [];\n  for (const n of H) out.push((n>>>24)&0xff,(n>>>16)&0xff,(n>>>8)&0xff,n&0xff);\n  return out;\n}\nfunction toBytes(str) { return Array.from(Buffer.from(str, 'utf8')); }\nfunction hmacSha256Hex(key, message) {\n  const blockSize = 64;\n  let keyBytes = toBytes(key);\n  if (keyBytes.length > blockSize) keyBytes = sha256(keyBytes);\n  if (keyBytes.length < blockSize) keyBytes = keyBytes.concat(new Array(blockSize - keyBytes.length).fill(0));\n  const opad = keyBytes.map(byte => byte ^ 0x5c);\n  const ipad = keyBytes.map(byte => byte ^ 0x36);\n  const inner = sha256(ipad.concat(toBytes(message)));\n  const outer = sha256(opad.concat(inner));\n  return outer.map(b => b.toString(16).padStart(2, '0')).join('');\n}\nfunction timingSafeEqual(a, b) {\n  if (a.length !== b.length) return false;\n  let diff = 0;\n  for (let i = 0; i < a.length; i++) diff |= a.charCodeAt(i) ^ b.charCodeAt(i);\n  return diff === 0;\n}\n\nconst secret = '179c426bfdb5ec176d55e1f4893655598fc90bcb45d75fd839370eb8cf5bb88a';\nconst signatureHeader = $('Webhook: /emergency').first().json.headers['x-velor-signature'];\nconst body = JSON.stringify($input.first().json.body ?? $input.first().json);\n\nlet signatureValid = false;\nif (secret && signatureHeader) {\n  const expected = hmacSha256Hex(secret, body);\n  signatureValid = timingSafeEqual(expected, signatureHeader);\n}\n\nconst b = $input.first().json.body ?? $input.first().json;\nconst timezone = 'America/Toronto' || 'America/Toronto';\nconst durationMin = Number(60 || 60);\n\nreturn [{ json: { ...b, signatureValid, timezone, durationMin } }];"
      }
    },
    {
      "id": "if-signature-valid",
      "name": "Signature Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -720,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.signatureValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "respond-unauthorized",
      "name": "Respond: Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -480,
        260
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={{ { success: false, code: 'UNAUTHORIZED' } }}"
      }
    },
    {
      "id": "http-get-bookings-data",
      "name": "HTTP: Get Bookings Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        -140
      ],
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1UkvzpXxs0aYLs3Znxp5mVuV3jEJBM5iEo-jOQAEPHEY/values/Bookings!A2:BA100000",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "05GiWdmZswSbZZzW",
          "name": "Velor - Google Sheets"
        }
      }
    },
    {
      "id": "code-check-existing-submission",
      "name": "Check Existing Submission",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -140
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const parsed = $('Verify Signature & Parse Input').first().json;\nconst rows = $input.first().json.values || [];\nconst match = rows.find(r => r[50] === parsed.submissionId);\nreturn [{ json: { ...parsed, existingBookingId: match ? match[0] : null, existingStatus: match ? match[3] : null } }];\n"
      }
    },
    {
      "id": "if-already-processed",
      "name": "Already Processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        -140
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.existingBookingId || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "respond-idempotent-hit",
      "name": "Respond: Existing Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        240,
        -260
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, bookingId: $json.existingBookingId, status: $json.existingStatus } }}"
      }
    },
    {
      "id": "code-compute-window",
      "name": "Compute Requested Window",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -20
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $input.first().json;\n\nfunction timeZoneOffsetMinutes(instant, timeZone) {\n  const dtf = new Intl.DateTimeFormat('en-US', { timeZone, hourCycle: 'h23', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' });\n  const parts = dtf.formatToParts(instant).reduce((acc, p) => { acc[p.type] = p.value; return acc; }, {});\n  const asUtc = Date.UTC(+parts.year, +parts.month - 1, +parts.day, +parts.hour, +parts.minute, +parts.second);\n  return (asUtc - instant.getTime()) / 60000;\n}\n\nfunction zonedTimeToUtc(isoDate, hour, minute, timeZone) {\n  const guess = new Date(`${isoDate}T${String(hour).padStart(2,'0')}:${String(minute).padStart(2,'0')}:00Z`);\n  const offset = timeZoneOffsetMinutes(guess, timeZone);\n  return new Date(guess.getTime() - offset * 60000);\n}\n\nlet start = null, end = null;\ntry {\n  const [_, hh, mm, ampm] = j.meetingTime.match(/(\\d+):(\\d+)\\s*(AM|PM)/i);\n  let hour = parseInt(hh, 10) % 12;\n  if (/PM/i.test(ampm)) hour += 12;\n  start = zonedTimeToUtc(j.meetingDate, hour, parseInt(mm, 10), j.timezone);\n  end = new Date(start.getTime() + j.durationMin * 60000);\n} catch (e) {\n  // Requested time didn't parse cleanly — still record the request, just skip the conflict check.\n}\n\nreturn [{ json: { ...j, requestedStartIso: start ? start.toISOString() : null, requestedEndIso: end ? end.toISOString() : null } }];\n"
      }
    },
    {
      "id": "calendar-check-conflict",
      "name": "Google Calendar: Check For Conflict",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -20
      ],
      "notes": "Raw Calendar API call — n8n's native Calendar getAll node was found to intermittently ignore timeMin/timeMax filtering in this instance, so conflict checks go direct to the API instead.",
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/calendar/v3/calendars/59d6b4475934c58001cc49d68297b86223195aa54cc1677d984081e02116ea19%40group.calendar.google.com/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeMin",
              "value": "={{ $json.requestedStartIso || $now.toISO() }}"
            },
            {
              "name": "timeMax",
              "value": "={{ $json.requestedEndIso || $now.plus({hours:1}).toISO() }}"
            },
            {
              "name": "singleEvents",
              "value": "true"
            }
          ]
        }
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UwJXKVA6G1Sg27vb",
          "name": "Velor - Google Calendar"
        }
      }
    },
    {
      "id": "code-conflict-flag",
      "name": "Set Conflict Flag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -20
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const parsed = $('Compute Requested Window').first().json;\nconst events = ($input.first().json.items || []).filter(e => e.start && e.end);\nreturn [{ json: { ...parsed, conflictDetected: events.length > 0 } }];\n"
      }
    },
    {
      "id": "code-build-emergency-row",
      "name": "Build Emergency Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -20
      ],
      "notes": "Column order must exactly match the Bookings sheet header row (A-BA).",
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = $input.first().json;\nconst row = [\n  j.bookingId, j.submittedAt, \"Emergency Meeting Request\", \"Pending\",\n  j.meetingDate, j.meetingTime, \"\", j.timezone,\n  j.fullName, j.email, j.phone, \"\",\n  j.businessName, j.businessWebsite || \"\", j.serviceInterest, j.budgetRange,\n  j.emergencyDetails, j.leadSource, j.leadSourceOther || \"\", j.preferredContactMethod || \"\",\n  (j.additionalParticipants || []).join(\", \"), j.agreementAccepted, j.agreementVersion, j.agreementTimestamp,\n  j.conflictDetected ? \"Yes\" : \"No\", \"No\", \"\", \"\",\n  \"\", \"No\", \"No\", \"No\",\n  \"\", \"\", \"\", \"\",\n  new Date().toISOString(), \"automation\", \"website\",\n  j.utmSource || \"\", j.utmMedium || \"\", j.utmCampaign || \"\", j.utmContent || \"\", j.utmTerm || \"\",\n  j.pageUrl || \"\", j.referrer || \"\", j.ipAddress || \"\", j.userAgent || \"\",\n  \"1.0.0\", \"\", j.submissionId, \"\", 0\n];\nreturn [{ json: { ...j, row } }];\n"
      }
    },
    {
      "id": "http-append-emergency-row",
      "name": "HTTP: Append Emergency Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -20
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1UkvzpXxs0aYLs3Znxp5mVuV3jEJBM5iEo-jOQAEPHEY/values/Bookings!A1:BA1:append",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { values: [ $json.row ] } }}"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "05GiWdmZswSbZZzW",
          "name": "Velor - Google Sheets"
        }
      }
    },
    {
      "id": "telegram-notify-urgent",
      "name": "Telegram: Urgent Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -140
      ],
      "parameters": {
        "chatId": "5038813723",
        "text": "=🚨 EMERGENCY MEETING REQUEST\nBooking ID: {{ $('Build Emergency Row').item.json.bookingId }}\nStatus: 🟠 Pending\nConflict Detected: {{ $('Build Emergency Row').item.json.conflictDetected ? 'YES' : 'NO' }}\nClient: {{ $('Build Emergency Row').item.json.fullName }}\nBusiness: {{ $('Build Emergency Row').item.json.businessName }}\nPhone: {{ $('Build Emergency Row').item.json.phone }}\nEmail: {{ $('Build Emergency Row').item.json.email }}\nRequested:\n{{ $('Build Emergency Row').item.json.meetingDate }} {{ $('Build Emergency Row').item.json.meetingTime }} ET\nUrgent issue:\n{{ $('Build Emergency Row').item.json.emergencyDetails }}\nACTION REQUIRED: Approve, reschedule or cancel this request.",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "zztcwsaom20LpOV7",
          "name": "Velor - Telegram"
        }
      },
      "webhookId": "0d76f85a-8257-46ad-a101-ee5f4c3e56e1"
    },
    {
      "id": "http-team-email",
      "name": "Resend: Urgent Team Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        0
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "ishaatlabib.1@gmail.com",
        "subject": "=URGENT Meeting Request — {{ $('Build Emergency Row').item.json.businessName }} — Action Required",
        "emailType": "html",
        "message": "=<p><b>Conflict detected:</b> {{ $('Build Emergency Row').item.json.conflictDetected ? 'YES' : 'NO' }}</p><p>Booking ID: {{ $('Build Emergency Row').item.json.bookingId }}</p><p>Name: {{ $('Build Emergency Row').item.json.fullName }}</p><p>Business: {{ $('Build Emergency Row').item.json.businessName }}</p><p>Phone: {{ $('Build Emergency Row').item.json.phone }}</p><p>Email: {{ $('Build Emergency Row').item.json.email }}</p><p>Requested: {{ $('Build Emergency Row').item.json.meetingDate }} {{ $('Build Emergency Row').item.json.meetingTime }} ET</p><p>Urgent issue: {{ $('Build Emergency Row').item.json.emergencyDetails }}</p>",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "GRKLVdCC2a16MphQ",
          "name": "Velor Gmail Account"
        }
      },
      "webhookId": "006f58b3-fa8a-44b0-9f5a-fe94f09579c6"
    },
    {
      "id": "http-client-email",
      "name": "Resend: Client Awaiting-Approval Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        140
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Build Emergency Row').item.json.email }}",
        "subject": "We received your emergency meeting request — Velor Digital",
        "emailType": "html",
        "message": "=<p>Hi {{ $('Build Emergency Row').item.json.fullName.split(' ')[0] }},</p><p>We received your emergency meeting request.</p><p>Requested date: {{ $('Build Emergency Row').item.json.meetingDate }}<br/>Requested time: {{ $('Build Emergency Row').item.json.meetingTime }} ET<br/>Booking ID: {{ $('Build Emergency Row').item.json.bookingId }}</p><p>This time has not been confirmed yet. Our team will review the request and contact you as soon as possible to approve the meeting or offer another available time.</p><p>Please reply to this email if there is additional information we should know.</p><p>Velor Digital</p>",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "GRKLVdCC2a16MphQ",
          "name": "Velor Gmail Account"
        }
      },
      "webhookId": "ac8ed190-0bed-4471-9700-1cbfb191b300"
    },
    {
      "id": "http-log-completed",
      "name": "HTTP: Log Automation Steps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1UkvzpXxs0aYLs3Znxp5mVuV3jEJBM5iEo-jOQAEPHEY/values/Automation Log!A1:I1:append",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { values: [ [ $now.toISO(), $('Build Emergency Row').item.json.bookingId, $execution.id, 'WORKFLOW_COMPLETED', 'success', 1, '', $('Verify Signature & Parse Input').item.json.submissionId, '1.0.0' ] ] } }}"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "05GiWdmZswSbZZzW",
          "name": "Velor - Google Sheets"
        }
      }
    },
    {
      "id": "respond-success",
      "name": "Respond: Request Received",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1680,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, bookingId: $('Build Emergency Row').item.json.bookingId, status: 'Pending', conflictDetected: $('Build Emergency Row').item.json.conflictDetected } }}"
      }
    },
    {
      "id": "code-extract-booking-row-number",
      "name": "Extract Booking Row Number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        -20
      ],
      "notes": "Parses the Sheets append response to get the real row number, so the notification-sent flags can be marked Yes immediately instead of waiting for the retry workflow.",
      "parameters": {
        "language": "javaScript",
        "jsCode": "const range = $input.first().json.updates?.updatedRange || '';\nconst match = range.match(/![A-Z]+(\\d+):/);\nconst bookingRowNumber = match ? Number(match[1]) : null;\nreturn [{ json: { bookingRowNumber } }];\n"
      }
    },
    {
      "id": "http-mark-notifications-sent",
      "name": "HTTP: Mark Notifications Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        -20
      ],
      "notes": "Marks AD/AE/AF Yes right after the client email send succeeds.",
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1UkvzpXxs0aYLs3Znxp5mVuV3jEJBM5iEo-jOQAEPHEY/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { valueInputOption: 'RAW', data: [ { range: 'Bookings!AD' + $('Extract Booking Row Number').item.json.bookingRowNumber + ':AD' + $('Extract Booking Row Number').item.json.bookingRowNumber, values: [['Yes']] }, { range: 'Bookings!AE' + $('Extract Booking Row Number').item.json.bookingRowNumber + ':AE' + $('Extract Booking Row Number').item.json.bookingRowNumber, values: [['Yes']] }, { range: 'Bookings!AF' + $('Extract Booking Row Number').item.json.bookingRowNumber + ':AF' + $('Extract Booking Row Number').item.json.bookingRowNumber, values: [['Yes']] } ] } }}"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "05GiWdmZswSbZZzW",
          "name": "Velor - Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Webhook: /emergency": {
      "main": [
        [
          {
            "node": "Verify Signature & Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature & Parse Input": {
      "main": [
        [
          {
            "node": "Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signature Valid?": {
      "main": [
        [
          {
            "node": "HTTP: Get Bookings Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Bookings Data": {
      "main": [
        [
          {
            "node": "Check Existing Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Submission": {
      "main": [
        [
          {
            "node": "Already Processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Processed?": {
      "main": [
        [
          {
            "node": "Respond: Existing Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compute Requested Window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Requested Window": {
      "main": [
        [
          {
            "node": "Google Calendar: Check For Conflict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar: Check For Conflict": {
      "main": [
        [
          {
            "node": "Set Conflict Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Conflict Flag": {
      "main": [
        [
          {
            "node": "Build Emergency Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Emergency Row": {
      "main": [
        [
          {
            "node": "HTTP: Append Emergency Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Append Emergency Row": {
      "main": [
        [
          {
            "node": "Extract Booking Row Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resend: Client Awaiting-Approval Email": {
      "main": [
        [
          {
            "node": "HTTP: Mark Notifications Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Log Automation Steps": {
      "main": [
        [
          {
            "node": "Respond: Request Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Booking Row Number": {
      "main": [
        [
          {
            "node": "Telegram: Urgent Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resend: Urgent Team Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resend: Client Awaiting-Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Mark Notifications Sent": {
      "main": [
        [
          {
            "node": "HTTP: Log Automation Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
